<div class="filter">
  <div class="shadow-lg p-3 mb-5 card" style="height: 110vh;">
    <div class="card-header text-center">
      Фильтрация
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="form-group">
          <label for="tsk">Учебный план</label>
          <select class="form-control" [(ngModel)]="plan" (ngModelChange)="onPlanChange($event)">
            <option  *ngFor="let plan of plans" [ngValue]="plan" >{{plan.registarcionnyjNomer}}</option>
            </select>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group">
          <label for="tsk">Специальность</label>
          <select class="form-control" [(ngModel)]="spec" (ngModelChange)="onSpecChange($event)">
            <option  *ngFor="let plan of specs" [ngValue]="spec" >{{plan.name}}</option>
            </select>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group">
          <label for="tsk">Компонент</label>
          <select class="form-control" id="tsk">
            <option>Не выбрано</option>
            <option>Общеобразовательный компонент</option>
            <option>Профессиональный компонент</option>
          </select>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group">
          <label for="hours">Количество часов</label>
          <div class="row">
          <div class="form-group col">
            <div class="input-group">
              <span style="margin-right: 10px; margin-top: 5px;">ЛР</span>
              <input type="number" class="form-control" [(ngModel)]="form.lrStart" placeholder="ЛР часов"
              />
            </div>
          </div>
          <div class="form-group col">
            <div class="input-group">
              <input type="number" class="form-control" [(ngModel)]="form.lrEnd" placeholder="ЛР часов"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <div class="input-group">
              <span style="margin-right: 10px; margin-top: 5px;">ПР</span>
              <input type="number" class="form-control" [(ngModel)]="form.prStart" placeholder="ПР часов"
              />
            </div>
          </div>
          <div class="form-group col">
            <div class="input-group">
              <input type="number" class="form-control" [(ngModel)]="form.prEnd" placeholder="ПР часов"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <div class="input-group">
              <span style="margin-right: 10px; margin-top: 5px;">КП</span>
              <input type="number" class="form-control" [(ngModel)]="form.kpStart" placeholder="КП часов"
              />
            </div>
          </div>
          <div class="form-group col">
            <div class="input-group">
              <input type="number" class="form-control" [(ngModel)]="form.kpEnd" placeholder="КП часов"
              />
            </div>
          </div>
        </div>
        </div>
      </li>
      <li class="list-group-item">
        <a class="btn btn-info mr-3" (click)="filter()">Отфильтровать</a>
        <a class="btn btn-outline-danger">Сбросить</a>
      </li>
    </ul>
  </div>
</div>
