<div class="filter">
    <div class="shadow-lg p-3 mb-5 card" style="height: 110vh;">
      <div class="card-header text-center">
        Фильтрация
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-group">
            <label for="kategoria">Категория</label>
            <select class="form-control" [(ngModel)]="form.category" (ngModelChange)="onCategoryChange($event)">
              <option  *ngFor="let category of keys(categories)" [ngValue]="categories[category]">{{category}}</option>
          </select>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label for="tsk">Цикловая комиссия</label>
            <select class="form-control" [(ngModel)]="ck" (ngModelChange)="onChange($event)">
              <option *ngFor="let ck of cks" [ngValue]="ck">{{ck.name}}</option>
          </select>
          </div>
        </li>
        <li class="list-group-item">
          <label for="status">Статус</label>
          <select class="form-control" [(ngModel)]="form.status" (ngModelChange)="onStatusChange($event)">
            <option *ngFor="let status of keys(statuses)" [ngValue]="statuses[status]">{{status}}</option>
        </select>
        </li>
        <li class="list-group-item">
          <a (click)="filter()" class="btn mr-3 btn-info">Отфильтровать</a>
          <a (click)="restore()" class="btn btn-outline-danger">Сбросить</a>
        </li>
      </ul>
    </div>
  </div>
