<div class="filter">
    <div class="shadow-lg p-3 mb-5 card" style="height: 110vh;">
      <div class="card-header text-center">
        Фильтрация
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-group">
            <label for="kategoria">Категория</label>
            <select class="form-control" id="kategoria">
              <option>Высшая</option>
              <option>Первая</option>
              <option>Вторая</option>
            </select>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label for="tsk">Цикловая комиссия</label>
            <select class="form-control" id="tsk">
              <option>ПОИТ</option>
              <option>ПиПРэС</option>
              <option>ЭВС</option>
              <option>Микро- и наноэлектроника</option>
              <option>ТЭРэС</option>
              <option>ПМС</option>
              <option>Общетехнические дисциплины</option>
              <option>Математические и естесвенно научные дисцциплины</option>
              <option>Социально-гуманитарные дисциплины</option>
              <option>Физическое воспитание</option>
            </select>
          </div>
        </li>
        <li class="list-group-item">
          <label for="status">Статус</label>
          <select class="form-control" id="status">
            <option>Работает</option>
            <option>Уволен</option>
            <option>Декретный отпуск</option>
            <option>Армия</option>
          </select>
        </li>
        <li class="list-group-item">
          <a href="#" class="btn mr-3 btn-info">Отфильтровать</a>
          <a href="#" class="btn btn-outline-danger">Сбросить</a>
        </li>
      </ul>
    </div>
  </div>