<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="name">Регистрационный номер плана</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="form.registarcionnyjNomer"
        placeholder="Регистрационный номер"
      />
    </div>
    <div class="form-group">
      <label for="tsk">Образовательный стандарт</label>
      <select  [(ngModel)]="plan" class="form-control" (ngModelChange)="onChange($event)">
        <option *ngFor="let plan of plans" [ngValue]="plan">{{plan.registarcionnyjNomer}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="date">Дата создания</label>
      <div class="input-group">
          <input type="text" class="form-control" bsDatepicker #dp="bsDatepicker" [bsValue]="form.date" [bsConfig]="bsConfig" placeholder="Дата">
          <div class="input-group-btn">
          </div>
        </div>
  </div>
    <div class="form-group">
      <label for="file1">Типовой план</label>
      <div class="custom-file">
          <input type="file" #file class="custom-file-input" (change)="addFile(file.files)" multiple>
          <label class="custom-file-label" for="customFile" (click)="file.click()">Выберите файл</label>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <input
      type="button"
      class="btn btn-outline-danger"
      data-dismiss="modal"
      value="Отменить"
      (click)="cancel()"
    />
    <input
      type="submit"
      class="btn btn-info"
      data-dismiss="modal"
      value="Добавить"
      (click)="save()"
    />
  </div>

