<div class="d-flex h-100 justify-content-between">
    <div class="col-sm-8 main align-self-start">
      <div class="caption">Запланированные занятия</div>
      <form class="form-inline controls d-flex flex-row-reverse">
        <button type="submit" class="btn btn-info"><a routerLink="/compareClasses"> Сравнить</a></button>
        <button type="submit" class="btn add_btn btn-info" (click)="addClass(template)">Добавить</button>
      </form>
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Преподаватель</th>
            <th scope="col">Месяц</th>
            <th scope="col">Статус</th>
          </tr>
        </thead>
        <tbody *ngFor="let lesson of lessons">
          <tr>
            <td scope="row">{{ lesson.id }}</td>
            <td>{{lesson.teacher}}</td>
            <td>{{lesson.month}}</td>
            <td>{{lesson.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  <app-planned-classes-filter></app-planned-classes-filter>
  </div>
  <ng-template #template>
    <app-update-planned title="Добавить открытое занятие" (cancelClick)="modalRef.hide()" (saveClick)="modalRef.hide()" ></app-update-planned>
  </ng-template>

