<div class="filter">
    <div class="shadow-lg p-3 mb-5 card" style="height: 110vh;">
      <div class="card-header text-center"> Фильтрация </div>
      <ul class="list-group list-group-flush">

        <li class="list-group-item">
          <div class="form-group">
            <label>Преподаватель</label>
            <ng-multiselect-dropdown
              [placeholder]="'Не выбрано'"
              [data]="dropdownList2"
              [(ngModel)]="selectedItems2"
              [settings]="dropdownSettings"
              (onSelect)="onItem2Select($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </li>
        <li class="list-group-item">
        <div class="form-group">
          <label for="date">Месяц</label>
          <select class="form-control" (ngModelChange)="onMonthChange($event)">
            <option  *ngFor="let month of months" [value]="month">{{month}}</option>
        </select>
      </div>
      </li>
        <li class="list-group-item">
          <button class="btn btn-info mr-3"(click)="filter()">Отфильтровать</button>
          <button class="btn btn-outline-danger">Сбросить</button>
        </li>
      </ul>
    </div>
