  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()">&times;</button>
</div>

<div class="modal-body">
    <div class="form-group">
        <label>Преподаватель</label>
        <select class="form-control" (change)="onTeacherChange($event.target.value)">
            <option *ngFor="let teacher of teachers" [value]="teacher.id" [selected]="teacher.id === form.teacher.id">{{teacher.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="tema">Учебная дисциплина</label>
        <select class="form-control"  (change)="onDiscChange($event.target.value)">
            <option *ngFor="let disciplin of disciplines"  [value]="disciplin.id" [selected]="disciplin.id === form.uchebnayaDisciplina.id"
            >{{disciplin.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="tema">Тема</label>
        <input type="text" class="form-control"  name="topic" [(ngModel)]="form.topic"  placeholder="Тема открытого занятия" #topic="ngModel" required/>
        <div [hidden]="topic.valid || topic.untouched" class="alert alert-danger">Не указана тема</div>
    </div>
    <div class="form-group">
        <label for="group">Группа</label>
        <select class="form-control" (change)="onGroupChange($event.target.value)">
            <option *ngFor="let group of groups" [value]="group.id" [selected]="group.id === form.group.id">{{group.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="date">Дата проведения</label>
        <div class="input-group">
            <input type="text" class="form-control" bsDatepicker #dp="bsDatepicker" [bsValue]="form.date" [bsConfig]="bsConfig" placeholder="Дата">
            <div class="input-group-btn">
            </div>
          </div>
    </div>
    <div class="form-group">
        <label for="file1">Методическая наработка</label>
        <div class="custom-file">
          <input type="file" #file1 class="custom-file-input" (change)="addFile(file1.files, true)" multiple>
          <label class="custom-file-label" for="customFile" (click)="file1.click()">Выберите файл</label>
      </div>
      </div>
      <div class="form-group">
        <label for="file1">План занятия</label>
        <div class="custom-file">
          <input type="file" #file2 class="custom-file-input" (change)="addFile(file2.files,false)" multiple>
          <label class="custom-file-label" for="customFile" (click)="file2.click()">Выберите файл</label>
      </div>
      </div>
</div>

<div class="modal-footer">
    <input type="button" class="btn btn-outline-danger" data-dismiss="modal" value="Отменить" (click)="cancel()">
    <button [disabled]="topic.invalid" class="btn btn-info" data-dismiss="modal" (click)="save()">Сохранить</button>
</div>

