  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()">&times;</button>
</div>

<div class="modal-body">
    <div class="form-group">
        <label>Преподаватель</label>
        <input type="text" class="form-control" [(ngModel)]="form.teacher" (ngModelChange)="onTeacherChange($event)">
        <select class="form-control" [(ngModel)]="form.teacher"  (ngModelChange)="onTeacherChange($event)">
            <option *ngFor="let teacher of teachers" [ngValue]="teacher">{{teacher.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="tema">Учебная дисциплина</label>
        <select class="form-control" [(ngModel)]="disciplin" (ngModelChange)="onDiscChange($event)">
            <option *ngFor="let disciplin of disciplines"  [ngValue]="disciplin">{{disciplin.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="tema">Тема</label>
        <input type="text" class="form-control" id="tema" [(ngModel)]="form.topic"  placeholder="Тема открытого занятия">
    </div>
    <div class="form-group">
        <label for="group">Группа</label>
        <select class="form-control" [(ngModel)]="group" (ngModelChange)="onGroupChange($event)">
            <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="date">Дата проведения</label>
        <div class="input-group">
            <input type="text" class="form-control" bsDatepicker #dp="bsDatepicker" [bsValue]="form.date" [bsConfig]="bsConfig" placeholder="Дата">
            <div class="input-group-btn">
            </div>
          </div>
    </div>
    <div class="form-group">
        <label for="file1">Методическая наработка</label>
        <div class="custom-file">
          <input type="file" #file class="custom-file-input" (change)="addFile(file.files, true)" multiple>
          <label class="custom-file-label" for="customFile" (click)="file.click()">Выберите файл</label>
      </div>
      </div>
      <div class="form-group">
        <label for="file1">План занятия</label>
        <div class="custom-file">
          <input type="file" #file class="custom-file-input" (change)="addFile(file.files,false)" multiple>
          <label class="custom-file-label" for="customFile" (click)="file.click()">Выберите файл</label>
      </div>
      </div>
</div>

<div class="modal-footer">
    <input type="button" class="btn btn-outline-danger" data-dismiss="modal" value="Отменить" (click)="cancel()">
    <input type="submit" class="btn btn-info" data-dismiss="modal" value="Сохранить" (click)="save()">
</div>

