  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()">&times;</button>
</div>

<div class="modal-body">
    <div class="form-group">
        <label for="tema">Тема</label>
        <input type="text" class="form-control" id="tema" placeholder="Тема открытого занятия">
    </div>
    <div class="form-group">
        <label for="group">Группа</label>
        <input type="text" class="form-control" id="group" placeholder="Номер группы">
    </div>
    <div class="form-group">
        <label>Преподаватель</label>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Фамилия">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Имя">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Отчество">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="date">Дата проведения</label>
        <div class="input-group">
            <input type="text" class="form-control" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" placeholder="Дата">
            <div class="input-group-btn">
            </div>
          </div>
    </div>
</div>

<div class="modal-footer">
    <input type="button" class="btn btn-outline-danger" data-dismiss="modal" value="Отменить" (click)="cancel()">
    <input type="submit" class="btn btn-info" data-dismiss="modal" value="Сохранить" (click)="save()">
</div>

