<div class="filter">
    <div class="shadow-lg p-3 mb-5 card" style="height: 110vh;">
      <div class="card-header text-center">
        Фильтрация
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-group">
            <label for="kategoria">Имя</label>
            <input type="text" class="form-control" id="imya" placeholder="Имя пользователя">
          </div>
        </li>
        <li class="list-group-item">
          <a href="#" class="btn mr-3 btn-info">Отфильтровать</a>
          <a href="#" class="btn btn-outline-danger">Сбросить</a>
        </li>
      </ul>
    </div>
  </div>
