<div class="d-flex h-100 justify-content-between">
  <div class="col-sm-8 main align-self-start">
    <div class="caption">Пользователи</div>
    <form class="form-inline controls d-flex flex-row-reverse">
      <button type="submit" class="btn btn-info" (click)="addUser(template)">Добавить</button>

    </form>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="my-auto" scope="col ">ID</th>
          <th scope="col">Пользователь</th>
          <th scope="col">Роль</th>
          <th scope="col">Действие</th>
        </tr>
      </thead>
      <tbody id="UsersTable">
        <tr>
        <tr>
          <th scope="row">1</th>
          <td>root</td>
          <td>admin</td>
          <td>
              <button type="submit" class="btn btn-info" style="margin-right: 5px;">
                удалить
              </button>
              <button (click)="updateUser(template)" type="submit" class="btn btn-info">
                редактировать
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-configuration-filter></app-configuration-filter>
</div>
<ng-template #template>
  <app-update-configuration [title]="title" (cancelClick)="modalRef.hide()" (saveClick)="modalRef.hide()"></app-update-configuration>
</ng-template>
