<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div
                    class="col d-flex flex-column flex-sm-row justify-content-between mb-3"
                  >
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h2 class="pt-sm-2 pb-1 mb-0 text-nowrap">
                        Тема: <span>CSS</span>
                      </h2>
                    </div>
                    <div class="text-center text-sm-right">
                      <span class="badge badge-secondary"
                        >Открытое занятие</span
                      >
                    </div>
                  </div>
                </div>
                <form class="form">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="mr-2">Группа:</label>
                            <label>62491</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label class="mr-2">План занятия:</label>
                            <label>ссылка</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="mr-2">Дата проведения:</label>
                            <label>26/11/2019</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col d-flex justify-content-start my-2">
                      <button class="btn btn-outline-info" type="submit">
                        Преподаватели
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <table class="table table-bordered table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th class="my-auto" scope="col ">ID</th>
                          <th scope="col">ФИО</th>
                          <th scope="col">Категория</th>
                          <th scope="col">Цикловая комиссия</th>
                          <th scope="col">Статус</th>
                        </tr>
                      </thead>
                      <tbody
                        id="TeachersTable"
                        *ngFor="let teacher of teachers"
                      >
                        <tr (click)="onClick(teacher.id)">
                          <th scope="row">{{ teacher.id }}</th>
                          <td>{{ teacher.name }}</td>
                          <td>{{ teacher.category }}</td>
                          <td>{{ teacher.commision }}</td>
                          <td>{{ teacher.status }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
          <div class="card mb-3">
            <div class="card-body">
              <div class="px-xl-3">
                <button class="btn btn-block btn-info" (click)="updateLesson(template)">
                  <i class="fa fa-sign-out"></i>
                  <span>Редактировать</span>
                </button>
                <button class="btn btn-block btn-info">
                  <i class="fa fa-sign-out"></i>
                  <span>Изменить статус</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <app-update-classes title="Редактировать открытое занятие"  (cancelClick)="modalRef.hide()" (saveClick)="modalRef.hide()" ></app-update-classes>
</ng-template>
