<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div
                    class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h2 class="pt-sm-2 pb-1 mb-0 text-nowrap">
                        Тема: <span>{{lesson.topic}}</span>
                      </h2>
                    </div>
                    <div class="text-center text-sm-right">
                      <span class="badge badge-secondary">Открытое занятие</span>
                    </div>
                  </div>
                </div>
                <form class="form">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="mr-2">Группа:</label>
                            <label>{{lesson.group.name}}</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label class="mr-2">План занятия:</label>
                            <a href="javascript:;" (click)="download(lesson.analisUroka)">скачать</a>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="mr-2">Дата проведения:</label>
                            <label>{{lesson.date | date : 'MM/dd/yyyy'}}</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label class="mr-2">Методическая разработка:</label>
                            <a href="javascript:;" (click)="download(lesson.metodicheskieNarabotki)">скачать</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="this.auth.isAdmin()" class="col-12 col-md-3 mb-3">
          <div class="card mb-3">
            <div class="card-body">
              <div class="px-xl-3">
                <button class="btn btn-block btn-info" (click)="updateLesson(template)">
                  <i class="fa fa-sign-out"></i>
                  <span>Редактировать</span>
                </button>
                <button class="btn btn-block btn-info">
                  <i class="fa fa-sign-out"></i>
                  <span>Метод. разработка</span>
                </button>
                <button class="btn btn-block btn-info">
                  <i class="fa fa-sign-out"></i>
                  <span>План занятия</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <app-update-classes [lessonId]="id" title="Редактировать открытое занятие"  (cancelClick)="modalRef.hide()" (saveClick)="modalRef.hide()" ></app-update-classes>
</ng-template>
