<div class="filter">
    <div class="shadow-lg p-3 mb-5 card" style="height: 110vh;">
      <div class="card-header text-center"> Фильтрация </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-group">
            <label for="group">Дисциплина</label>
            <ng-multiselect-dropdown
            [placeholder]="'Дисциплина'"
            [data]="dropdownList3"
            [(ngModel)]="selectedItems3"
            [settings]="dropdownSettings"
            (onSelect)="onItem3Select($event)"
          >
          </ng-multiselect-dropdown>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label>Группа</label>
            <ng-multiselect-dropdown
              [placeholder]="'Номер группы'"
              [data]="dropdownList1"
              [(ngModel)]="selectedItems1"
              [settings]="dropdownSettings"
              (onSelect)="onItem1Select($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label>Преподаватель</label>
            <ng-multiselect-dropdown
              [placeholder]="'Преподаватель'"
              [data]="dropdownList2"
              [(ngModel)]="selectedItems2"
              [settings]="dropdownSettings"
              (onSelect)="onItem2Select($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label>Дата</label>
            <div class="row">
              <div class="form-group col">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    bsDatepicker
                    [bsValue]="form.beginDate"
                    #dp="bsDatepicker"
                    [bsConfig]="bsConfig"
                    placeholder="От"
                  />
                  <div class="input-group-btn"></div>
                </div>
              </div>
              <div class="form-group col">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    bsDatepicker
                    #dp="bsDatepicker"
                    [bsValue]="form.endDate"
                    [bsConfig]="bsConfig1"
                    placeholder="До"
                  />
                  <div class="input-group-btn"></div>
                </div>
              </div>
            </div>
            </div>
        </li>
        <li class="list-group-item">
          <a class="btn btn-info mr-3"(click)="filter()">Отфильтровать</a>
          <a  class="btn btn-outline-danger">Сбросить</a>
        </li>
      </ul>
    </div>
