<div class="d-flex h-100 justify-content-between">
  <div class="col-sm-8 main align-self-start">
    <div class="caption">Открытые занятия</div>
    <form class="form-inline controls d-flex flex-row-reverse">
      <button type="submit" class="btn btn-info">Запланировать занятие</button>
      <button type="submit" class="btn add_btn btn-info" (click)="addLesson(template)">Добавить</button>
      <div class="input-group search">
        <input
          type="text"
          id="Input"
          class="form-control"
          placeholder="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-info" type="submit">Поиск</button>
        </div>
      </div>
    </form>

    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Тема</th>
          <th scope="col">Группа</th>
          <th scope="col">Преподаватель</th>
          <th scope="col">План занятия</th>
          <th scope="col">Дата проведения</th>
        </tr>
      </thead>
      <tbody *ngFor="let lesson of lessons">
        <tr>
          <th scope="row">{{lesson.id }}</th>
          <td>{{lesson.topic}}</td>
          <td>{{lesson.group}}</td>
          <td>{{lesson.teacher}}</td>
          <td>{{lesson.plan}}</td>
          <td>{{lesson.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<app-classes-filter></app-classes-filter>
</div>
<ng-template #template>
  <app-update-classes (cancelClick)="modalRef.hide()" (saveClick)="modalRef.hide()" ></app-update-classes>
</ng-template>