<div class="input-group mb-3 search ">
  <input type="text" id="Input" class="form-control" placeholder="Search">
  <div class="input-group-append">
    <button class="btn btn-dark" type="submit">Go!</button>
  </div>
</div>

<table class="table table-bordered table-hover" style="height: 100px; width:70%;">
  <thead class="thead-dark">
    <tr>
      <th class="my-auto" scope="col ">ID</th>
      <th scope="col">Тема</th>
      <th scope="col">Группа</th>
      <th scope="col">Преподаватель</th>
      <th scope="col">Дата проведения</th>
    </tr>
  </thead>
  <tbody id="LessonsTable">
    <tr>
      <th scope="row">1</th>
      <td>CSS</td>
      <td>62491</td>
      <td>Терешко</td>
      <td>26/11/2019</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Методологии проектирования</td>
      <td>62493</td>
      <td>Тарасова</td>
      <td>15/09/2019</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Структуры данных</td>
      <td>7к4911</td>
      <td>Апанасевич</td>
      <td>03/10/2019</td>
    </tr>
  </tbody>
</table>
