<div class="d-flex h-100 justify-content-between">
  <div class="col-sm-8 main align-self-start">
    <div class="caption">Открытые занятия</div>
    <form class="form-inline controls d-flex flex-row-reverse">
      <button type="submit" class="btn btn-info">
        <a routerLink="/plannedClasses">Запланированные занятия</a>
      </button>
      <button type="submit" class="btn add_btn btn-info" (click)="addClass(template)">Добавить</button>
      <div class="input-group search">
        <input
          type="text"
          id="Input"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchText"
          [ngModelOptions]="{standalone: true}"
        />
        <div class="input-group-append">
          <button class="btn btn-info" type="submit" (click)="search()">Поиск</button>
        </div>
      </div>
    </form>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Преподаватель</th>
          <th scope="col">Дисциплина</th>
          <th scope="col">Тема</th>
          <th scope="col">Группа</th>
          <th scope="col">Дата</th>
        </tr>
      </thead>
      <tbody *ngFor="let lesson of lessons">
        <tr (click)="onClick(lesson.id)">
          <td scope="row">{{ lesson.id }}</td>
          <td>{{lesson.teacher}}</td>
          <td>{{lesson.uchebnayaDisciplina}}</td>
          <td>{{lesson.topic}}</td>
          <td>{{lesson.group}}</td>
          <td>{{lesson.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<app-classes-filter></app-classes-filter>
</div>
<ng-template #template>
  <app-update-classes title="Добавить открытое занятие" (cancelClick)="modalRef.hide()" (saveClick)="modalRef.hide()" ></app-update-classes>
</ng-template>
