<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h2 class="pt-sm-2 pb-1 mb-0 text-nowrap">
                        Лазицкас Екатерина Александровна
                      </h2>
                    </div>
                    <div class="text-center text-sm-right">
                      <span class="badge badge-secondary">Преподаватель</span>
                    </div>
                  </div>
                </div>
                <form class="form">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="mr-2">Категория:</label>
                            <label>Высшая</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label class="mr-2">Цикловая комиссия:</label>
                            <label>ПОИТ</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="mr-2">Статус:</label>
                            <label>Работает</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col d-flex justify-content-start my-2">
                      <button
                        class="btn btn-outline-info"
                        type="submit"
                        (click)="change(1)"
                      >
                        Открытые занятия
                      </button>
                      <button
                        class="btn btn-outline-info ml-2"
                        type="submit"
                        (click)="change(2)"
                      >
                        Научно-методическое обеспечение
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <table
                      class="table table-bordered table-hover"
                      *ngIf="actlesson"
                    >
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Тема</th>
                          <th scope="col">Группа</th>
                          <th scope="col">Дата проведения</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let lesson of lessons">
                        <tr (click)="onClick(lesson.id)">
                          <th scope="row">{{ lesson.id }}</th>
                          <td>{{ lesson.topic }}</td>
                          <td>{{ lesson.group }}</td>
                          <td>{{ lesson.date }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <table
                      class="table table-bordered table-hover"
                      *ngIf="actsupport"
                    >
                      <thead class="thead-dark">
                        <tr>
                          <th class="my-auto" scope="col ">ID</th>
                          <th scope="col">Название</th>
                          <th scope="col">Соавторы</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Название</td>
                          <td>Соавторы</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
          <div class="card mb-3">
            <div class="card-body">
              <div class="px-xl-3">
                <button class="btn btn-block btn-info" (click)="UpdateTeacher(template)">
                  <i class="fa fa-sign-out"></i>
                  <span>Редактировать</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <app-update-teachers title="Изменить преподавателя" (cancelClick)="modalRef.hide()" (saveClick)="modalRef.hide()"></app-update-teachers>
</ng-template>
