<div class="filter">
    <div class="shadow-lg p-3 mb-5 card" style="height: 110vh;">
      <div class="card-header text-center">
        Фильтрация
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-group">
            <label for="num">Регистрационный номер плана</label>
            <input type="text" class="form-control" id="num" placeholder="№ учебного плана">
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label for="name">Типовой план</label>
            <input type="text" class="form-control" id="name" placeholder="Типовой план">
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label for="name">Группа</label>
            <input type="text" class="form-control" id="name" placeholder="Номер группы">
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label for="date">Дата создания</label>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" placeholder="От">
                <div class="input-group-btn">
                </div>
              </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" placeholder="До">
                  <div class="input-group-btn">
                  </div>
                </div>
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <a href="#" class="btn btn-info mr-3">Отфильтровать</a>
          <a href="#" class="btn btn-outline-danger">Сбросить</a>
        </li>
      </ul>
    </div>
  </div>