<div class="filter">
  <div class="shadow-lg p-3 mb-5 card" style="height: 110vh;">
    <div class="card-header text-center">
      Фильтрация
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="form-group">
          <label for="num">Регистрационный номер плана</label>
          <input
            type="text"
            class="form-control"
            id="num"
            [(ngModel)]="form.regNumber"
            placeholder="№ учебного плана"
          />
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group">
          <label for="file2">Типовой план</label>
          <select  [(ngModel)]="tp" class="form-control" (ngModelChange)="onChange($event)">
            <option *ngFor="let plan of plans" [ngValue]="tp">{{plan.registarcionnyjNomer}}</option>
          </select>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group">
          <label>Группа</label>
          <ng-multiselect-dropdown
            [placeholder]="'Номер группы'"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"
            (onSelect)="onItem1Select($event)"
          >
          </ng-multiselect-dropdown>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group">
          <label for="date">Дата создания</label>
          <div class="row">
            <div class="form-group col">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  bsDatepicker
                  #dp="bsDatepicker"
                  [bsValue]="form.beginDate"
                  [bsConfig]="bsConfig"
                  placeholder="От"
                />
                <div class="input-group-btn"></div>
              </div>
            </div>
            <div class="form-group col">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  bsDatepicker
                  #dp="bsDatepicker"
                  [bsValue]="form.endDate"
                  [bsConfig]="bsConfig"
                  placeholder="До"
                />
                <div class="input-group-btn"></div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <button (click)="filter()" class="btn btn-info mr-3">Отфильтровать</button>
        <button (click)="restore()" class="btn btn-outline-danger">Сбросить</button>
      </li>
    </ul>
  </div>
</div>
