<div class="filter">
    <div class="shadow-lg p-3 mb-5 card" style="height: 110vh;">
      <div class="card-header text-center">
        Фильтрация
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-group">
            <label for="num">Регистрационный номер типового плана</label>
            <input
              type="text"
              class="form-control"
              id="num"
              [(ngModel)]="form.regNumber"
              placeholder="№ учебного плана"
            />
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-group">
            <label>Образовательный стандарт</label>
            <select class="form-control" (change)="onChange($event.target.value)">
              <option [ngValue]="null">Не выбрано</option>
              <option *ngFor="let ck of obrstndrts" [value]="ck.id" [selected]="ck.id === this.form.obrStandartId">{{ck.registarcionnyjNomer}}</option>
          </select>
          </div>
        </li>
        <li class="list-group-item" *ngIf="false">
          <div class="form-group">
            <label for="date">Дата создания</label>
            <div class="row">
              <div class="form-group col">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    bsDatepicker
                    #dp="bsDatepicker"
                    [bsValue]="form.beginDate"
                    [bsConfig]="bsConfig"
                    placeholder="От"
                  />
                  <div class="input-group-btn"></div>
                </div>
              </div>
              <div class="form-group col">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    bsDatepicker
                    #dp="bsDatepicker"
                    [bsValue]="form.endDate"
                    [bsConfig]="bsConfig"
                    placeholder="До"
                  />
                  <div class="input-group-btn"></div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <button (click)="filter()" class="btn btn-info mr-3">Отфильтровать</button>
          <button (click)="restore()" class="btn btn-outline-danger">Сбросить</button>
        </li>
      </ul>
    </div>
  </div>
