<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()">&times;</button>
</div>

<div class="modal-body">
    <div class="form-group">
        <label for="imya">Пользователь</label>
        <input type="text" class="form-control" id="imya" placeholder="Имя пользователя">
    </div>
    <div class="form-group">
        <label for="group">Роль</label>
        <input type="text" class="form-control" id="role" placeholder="Роль">
    </div>
    <div class="form-group">
      <label for="imya">Пароль</label>
      <input type="Пароль" class="form-control" id="imya" placeholder="Пароль">
  </div>
</div>

<div class="modal-footer">
    <input type="button" class="btn btn-outline-danger" data-dismiss="modal" value="Отменить" (click)="cancel()">
    <input type="submit" class="btn btn-info" data-dismiss="modal" value="Сохранить" (click)="save()">
</div>

