<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()">&times;</button>
</div>

<div class="modal-body">
    <div class="form-group">
        <label for="imya">Тип документа</label>
        <input type="text" class="form-control" id="imya" placeholder="Тип документа">
    </div>
</div>

<div class="modal-footer">
    <input type="button" class="btn btn-outline-danger" data-dismiss="modal" value="Отменить" (click)="cancel()">
    <input type="submit" class="btn btn-info" data-dismiss="modal" value="Сохранить" (click)="save()">
</div>


