<div class="row">
  <div class="col-sm-8 main">
<div class="caption">Преподаватели</div>
<form class="form-inline controls d-flex flex-row-reverse">
  <button type="submit" class="btn btn-info" (click)="addTeacher(template)">Добавить</button>
  <div class="input-group search">
    <input type="text" id="Input" class="form-control" placeholder="Search">
     <div class="input-group-append">
       <button class="btn btn-info" type="submit">Поиск</button>
     </div>
   </div>
</form>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="my-auto" scope="col ">ID</th>
      <th scope="col">ФИО</th>
      <th scope="col">Категория</th>
      <th scope="col">Цикловая комиссия</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody id="TeachersTable" *ngFor="let teacher of teachers">
    <tr (click)="onClick(teacher.id)">
      <th scope="row">{{teacher.id}}</th>
      <td>{{teacher.name}}</td>
      <td>{{teacher.category}}</td>
      <td>{{teacher.commision}}</td>
      <td>{{teacher.status}}</td>
    </tr>
  </tbody>
  </table>
</div>
</div>
<ng-template #template>
<app-update-teachers (cancelClick)="modalRef.hide()" (saveClick)="modalRef.hide()"></app-update-teachers>
</ng-template>
