<div class="input-group mb-3 search">
  <input type="text" id="Input" class="form-control" placeholder="Search">
  <div class="input-group-append">
    <button class="btn btn-info" type="submit">Поиск</button>
  </div>
</div>

<div class="d-flex flex-column caption">
  <h1>Преподаватели</h1>
  <div class="d-flex flex-row-reverse">
    <a href="#" class="btn btn-info cirlce">+</a>
  </div>
</div>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="my-auto" scope="col ">ID</th>
      <th scope="col">ФИО</th>
      <th scope="col">Категория</th>
      <th scope="col">Научно-методическое обеспечение</th>
      <th scope="col">Цикловая комиссия</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody id="TeachersTable">
    <tr>
      <th scope="row">1</th>
      <td>Лазицкас Е.А.</td>
      <td>Высшая</td>
      <td>ссылка</td>
      <td>ПОИТ</td>
      <td>Работает</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Науменко Жанна Николаевна</td>
      <td>Первая</td>
      <td>ссылка</td>
      <td>Общетехнические дисциплины</td>
      <td>Работает</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Тарасова Татьяна Михайловна</td>
      <td>Первая</td>
      <td>ссылка</td>
      <td>ПОИТ</td>
      <td>Работает</td>
    </tr>
  </tbody>
</table>
