
                <div class="modal-header">
                  <h4 class="modal-title">{{title}}</h4>
                  <button type="button" class="close" data-dismiss="modal" (click)="cancel()">&times;</button>
              </div>

              <div class="modal-body">
                <div class="form-group">
                    <label for="familia">Преподаватель</label>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" [(ngModel)]="form.surname" placeholder="Фамилия">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" [(ngModel)]="form.name" placeholder="Имя">
                         </div>
                        <div class="col">
                            <input type="text" class="form-control" [(ngModel)]="form.fatherName" placeholder="Отчество">
                         </div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="kategoria">Категория</label>
                  <select class="form-control" (change)="parseValue($event.target.value)">
                    <option *ngFor="let name of options" [selected]=" Category[name]===form.category"
                        [value]="name">{{name}}</option>
                  </select>
                </div>
                  <div class="form-group">
                      <label for="ck">Цикловая комиссия</label>
                      <select class="form-control"  (change)="onChange($event.target.value)">
                          <option *ngFor="let ck of cks" [value]="ck.id" [selected]="ck.id === form.ciklovayaKomissiyaId">{{ck.name}}</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="status">Статус</label>
                    <select class="form-control" (change)="onStatusChange($event.target.value)">
                      <option *ngFor="let name of statuses" [selected]=" Status[name]===form.status"
                          [value]="name">{{name}}</option>
                    </select>
                  </div>


              <div class="modal-footer">
                  <input type="button" class="btn btn-outline-danger" data-dismiss="modal" value="Отменить" (click)="cancel()">
                  <input type="submit" class="btn btn-info" data-dismiss="modal" value="Сохранить" (click)="save()">
              </div>
