.nav-link, .nav-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #fff;
  border-radius: .25rem;
}

.nav-link:hover {
  background-color: #17a2b8;
  display: block;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.link-right {
  float: right;
}