<div class="d-flex h-100 justify-content-between">
  <div class="col-sm-8 main align-self-start">
    <div class="caption">Учебные дисциплины</div>
    <form class="form-inline controls d-flex flex-row-reverse">
      <button type="submit" class="btn btn-info" (click)="addProgram(template)">Добавить</button>
      <div class="input-group search">
        <input type="text" id="Input" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button class="btn btn-info" type="submit">Поиск</button>
        </div>
      </div>
    </form>
    <div class="row m-2">
      <div class="col-3">
        <select class="form-control" (click)="selectChanged(1)">
        <option>Специальность</option>
        <option>ПОИТ</option>
        <option>ПиПРэС</option>
        <option>ЭВС</option>
        <option>Микро- и наноэлектроника</option>
        <option>ТЭРэС</option>
        <option>ПМС</option>
      </select>
    </div>
    <div class="col-3">
      <select class="form-control" (click)="selectChanged(2)">
        <option>Курс</option>
        <option>1 курс</option>
        <option>2 курс</option>
        <option>3 курс</option>
        <option>4 курс</option>
      </select>
      </div>
    </div>
    <table class="table table-bordered table-hover" *ngIf="spec && course">
      <thead class="thead-dark">
        <tr>
          <th class="my-auto" scope="col ">ID</th>
          <th scope="col">Регистрационный номер</th>
          <th scope="col">Название</th>
          <th scope="col">Количество часов</th>
        </tr>
      </thead>
      <tbody id="UchPrograma">
        <tr *ngFor="let program of programs">
          <td scope="row">{{program.id}}</td>
          <td>{{program.nomer}}</td>
          <td>{{program.name}}</td>
          <td>{{program.hours}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-syllabus-filters></app-syllabus-filters>
</div>
<ng-template #template>
  <app-update-syllabus (cancelClick)="modalRef.hide()" (saveClick)="modalRef.hide()"></app-update-syllabus>
</ng-template>

