<div class="d-flex h-100 justify-content-between">
    <div class="col-sm-8 main align-self-start">
      <div class="caption">Сравнение запланированных и проведённых</div>
      <form class="form-inline controls d-flex flex-row-reverse">
        <div class="input-group search">
          <input
            type="text"
            id="Input"
            class="form-control"
            placeholder="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-info" type="submit">Поиск</button>
          </div>
        </div>
      </form>
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Преподаватель</th>
            <th scope="col">Запланированная дата</th>
            <th scope="col">Дата проведения</th>
            <th scope="col">Тема</th>
          </tr>
        </thead>
        <tbody *ngFor="let lesson of lessons">
          <tr>
            <td scope="row">{{ lesson.id }}</td>
            <td>{{lesson.teacher}}</td>
            <td>{{lesson.month}}</td>
            <td>{{lesson.date}}</td>
            <td>{{lesson.topic}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #template>
    <app-update-classes title="Добавить открытое занятие" (cancelClick)="modalRef.hide()" (saveClick)="modalRef.hide()" ></app-update-classes>
  </ng-template>


